.panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 95%;
  height: 95%;
  animation: fade-in 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);
}
@keyframes fade-in {
  from {
    width: 10%;
    opacity: 0;
  }
  to {
    width: 95%;
    opacity: 1;
  }
}
