//* Buttons color vars *//

//?Default colors
$default-color: #d6d3d3;
$default-color-hover: #b8b8b8;

//?Default primary
$primary-color: #d6d3d3;
$primary-color-hover: #b8b8b8;

//? roboto font
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular-webfont.woff") format("woff");
}
